.button_short {
  width: 35px;
  height: 35px;
  background-color: $color-primary;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: none;
  &:active {
    border-radius: 50%;
    background-color: rgb(11, 11, 190)
  }
}

.button_middle {
  width: 50px;
  height: 35px;
  background-color: $color-additional;
  color: rgb(209, 199, 199);
  font-family: Arial, Helvetica, sans-serif;
  &:active {
    border-radius: 50%;
  }
}

.button_long {
  width: 70px;
  height: 35px;
  background-color: $color-additional;
  color: rgb(209, 199, 199);
  font-family: Arial, Helvetica, sans-serif;
}

.button_longest {
  width: 150px;
  height: 30px;
  background-color: $color-primary;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

