.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.block-window {
  width: 100%;
  height: 300px;
  border: solid 1px black;
  margin-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 20px 0;
  background-color: #542a2a;
  padding: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 0 0;
  padding: 5px 0;
}

.h1 {
  text-align: center;
  font-size: 24px;
}
